<div class="main">
  
  <div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
  
  <div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper">
      <div class="icon"></div>
      <div class="title main">
		<span id="main-title">Audio Restart</span>
		<span class="version" id="version">v1.0.0</span>
      </div>
      <div class="title sub" id="subTitle">Sounds are Golden</div>
    </div>
  </div>
  
  <div id="nodeShellDiv" style="padding:5px">Waiting for Node Shell Service ...</div>

  <div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
  
</div>
